body{
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#contenedor{
    border:2px white;
    border-radius: 10px;
    background-color: rgb(148, 127, 127);
    color :white;
}
#contenedor:hover{
    border:2px white;
    border-radius: 10px;
    background-color: rgb(65, 60, 60);
    color :white;
}